@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');
@import "main.css";
p{
    color: #54ffc8;
         margin-top: 120px;
         margin-left: 50px;
         font-size: 1.3rem;
}
a.link{ 
    color:blue;
}
a.photo{
     color: white;
     margin-top: 185px;
     position: absolute;
     font-size: 2rem;
}
img{
    margin-top: 150px;
}